@using UsersVm = UserManagement.Application.Queries.User.GetListUsers.UsersVm

@model UsersVm

@{
    ViewBag.Title = "Admin Panel";
}

<div>
    <button type="submit" id="d-btn" value="Send">Remove</button>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th scope="col"><input type="checkbox"/></th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Last login time</th>
            <th scope="col">Registration time</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th scope="row"><input id="boxes" value="@user.Id" type="checkbox"></th>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.LastLoginTime</td>
                <td>@user.RegistrationTime</td>
                <td>@user.Status</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
